.contactList {
  background-color: #f7f7f7;
  flex: 0.3;
  height: 96vh;
}
.contactList__user {
  list-style: none;
}
.contactList__userWrapper:hover {
  background-color: #6accc3;
  cursor: pointer;
}
.contactList__userWrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: center;
  border-bottom: 1px lightgray solid;
}
